@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
	font-family: 'zed';
	src: url('/zed.woff2');
}

.text-secondary {
	@apply text-zinc-500;
}

:root {
	--parchment: hsla(40, 23%, 95%, 1);
	--alabaster-grey: hsla(30, 12%, 90%, 1);
	--parchment-2: hsla(36, 22%, 95%, 1);
	--silver: hsla(36, 5%, 78%, 1);
	--parchment-3: hsla(36, 19%, 95%, 1);

	@apply text-zinc-800;
	background-color: var(--parchment);

	color-scheme: light;
	font-family: "Inter", sans-serif;
	font-size: 14px;

	--svg-outline: #d4d4d8;
	--svg-foreground: #A2A1A1;
	--svg-surface: white;

	--draw-fs: 16;
	--draw-fg: #333;
	--draw-red: #f11d0e;
	--draw-orange: #f14e0e;
	--draw-yellow: #f1b62d;
	--draw-green: #18c767;
	--draw-blue: #58a6ff;
	--draw-indigo: #7c58ff;
	--draw-violet: #ae58ff;
	--draw-pink: #ee00ab;

}

@media screen and (max-width: 720px) {
	:root {
		--draw-fs: 14;
	}
}

a {
	@apply underline break-words;
}

kbd {
	@apply border rounded-md px-1 text-sm border-b-2;
}

kbd+kbd {
	@apply ms-1;
}

.font-mono {
	font-family: 'DM Mono', monospace;
}

.hover-link a {
	@apply transition-[background] duration-200;
}

.hover-link a:hover {
	background-color: var(--alabaster-grey);
}

p+*,
*+p {
	@apply mt-[1rem];
}

.container {
	@apply max-w-[960px] mx-auto px-4;
}

.page-half {
	max-width: 480px;
}

img,
video {
	max-width: 100%;
}

hr {
	@apply border-t border-t-zinc-300 mt-4;
}

.footnotes {
	@apply border-t border-t-zinc-300 pt-8;
	margin-top: 4rem;
}

.footnotes h2 {
	display: none;
}

.footnotes ol {
	@apply ms-0;
}

.footnotes li {
	@apply list-decimal ms-8 marker:text-zinc-500;
}

code {
	font-family: 'DM Mono', monospace;
	font-size: 0.95rem !important;
	font-variant-ligatures: common-ligatures;
	@apply text-blue-600 text-sm;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	@apply font-bold;
}

article h1 {
	@apply text-3xl;
}

article h2 {
	@apply text-xl;
}

article h3,
h4 {
	@apply text-lg;
}

article h5,
h6 {
	@apply text-base;
}

article ul {
	@apply list-disc list-outside ms-8;
}

article li+li {
	@apply mt-2;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
	@apply mt-8;
}

article blockquote {
	background-color: var(--parchment-2);
	@apply max-w-[30rem] p-2 bg-opacity-50 text-xl mx-auto border-s-3 border-blue-500 my-4 rounded-e-lg;
}

article table {
	width: 100%;
}

article th,
article td {
	text-align: start;
}

article video {
	border-radius: 0.75rem;
}

article pre {
	@apply mt-2;
}

article ol {
	@apply list-decimal list-outside ms-8;
}

@media screen and (min-width: 768px) {
	article>section:not(.footnotes) {
		columns: 2;
		column-rule-width: thin;
		column-rule-style: solid;
		column-rule-color: var(--bs-gray-400);
		column-gap: 3rem;
	}
}


.astro-code {
	counter-reset: step;
	counter-increment: step 0;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--parchment-3) !important;
}

.astro-code .line {
	line-height: 1;
}

.astro-code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, .4)
}

.astro-code .diff {
	@apply block w-full py-1 -mb-6;
}

.astro-code .diff.remove {
	@apply bg-red-100;
}

.astro-code .diff.add {
	@apply bg-green-50;
}

.astro-code .diff.remove> :first-child::before {
	content: "—";
	@apply text-red-500 -ms-2;
}


.astro-code .diff.add> :first-child::before {
	content: "+";
	@apply text-green-500 -ms-2;
}

.scheme-img> :nth-child(2) {
	display: none;
}

.card {
	background-color: var(--parchment-2);
	@apply border border-zinc-200 rounded-lg p-4;
}

.feature-svg {
	width: 100%;
	height: auto;
}

.MafsView {
	@apply rounded-lg mt-2 border-2 border-zinc-200;
}

.MafsView {
	--mafs-bg: var(--parchment-3);
	--mafs-fg: #222;

	--mafs-line-color: #aaa;
	--grid-line-subdivision-color: #999;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

input, select {
	@apply !border-0;
}

.reactEasyCrop_CropArea.reactEasyCrop_CropAreaGrid {
	display: none;
}

.pulsate {
	animation: pulsate 1s ease-out infinite alternate;
}

@keyframes pulsate {
	0% {
		transform: scale(0.9, 0.9);
	}

	100% {
		transform: scale(1, 1);
	}
}

.handwriting {
	font-family: "Indie Flower", cursive;
}


.wave {
	animation: wave 1s infinite;
}

@keyframes wave {
	0% {
		tranform: rotate(0deg);
	}

	70% {
		transform: rotate(20deg);
	}

	100% {
		transform: rotate(0deg);
	}
}