---
import ProjectItem from '../components/ProjectItem.astro'
import Shell from '../layouts/Shell.astro'

const startups = [
  {
    title: 'Publishing',
    url: 'islamicpublishing.org',
    description:
      'This is an app, with 1000+ users and a 5.0 rating, where books and articles in various languages are published, users can listen to audiobooks, read and download publishings. The app is available on both play store and app store. I generally worked on the backend of this app with object oriented Php',
    meta: '2024',
  },
  {
    title: 'ISAR',
    url: 'github.com/iBz-04/ISAR',
    description:
      'The library catalogue system features a responsive UI for users and administrators, allowing easy access across devices, and includes state management to keep track of book availability, borrowings, and returns in real-time, This link only leads to an old codebase',
  },
]

const apps = [
  {
    title: 'E-commerce',
    description: 'This project involved the development of member sign up and login pages using Next.js & TSOFT, along search rank boosting. the platform’s ranking improved to the 8th (now at 2nd Position) position in competitive search results. I also worked on user analytics and updated the site based on data ',
    url: 'darkmenshop.com',
  },
]

const packages = [
{
    title: 'Omnilink',
    description:
      'LLM & GPT interactive interface. An arena for testing and monitoring your api key usage in realtime, chat in any language and sync with google drive for cloud storage',
    url: 'omnilinkk.vercel.app',
  },
  {
    title: 'GeoLib',
    description:
      'A Python-based geometry package with documentation designed to facilitate easy manipulation of 2D shapes with function calls. GeoLib aims to be both educational and practical, making it useful for developers, students.',
    url: 'geolib-docs-main.netlify.app',
  },
{
    title: 'Lara API',
    description:
      'Lara is aREST API & create, update, delete architecture written in PHP/LARAVEL, integrable with any Frontend framework. It could serve as a base for any crud backend project.',
    url: 'github.com/iBz-04/Lara',
  },
  {
    title: 'Reforge',
    description: 'A fully functional and scalable dashboard PWA starter for start-ups, it has mock API calls, authentication, and clean architecture. credentials for test: LOGIN ->  EMAIL: eve.holt@reqres.in, PASSWORD: password ',
    url: 'saas-dashboard-starter.netlify.app',
  },
  {
    title: 'DiabetesCL',
    description: 'This project aims to classify and predict diabetes in patients using a Support Vector Machine (SVM) algorithm. SVM is a supervised machine learning model that can be used for both classification and regression challenges. It works by finding the hyperplane that best divides a dataset into classes.',
    url: 'github.com/iBz-04/DiabetesCL',
  },
  {
    title: 'NOMAD',
    description: 'This was my gemini developer competition project. To address the issue of overwhelming trip planning, I developed NOMAD to creates personalized travel plans with AI in seconds. The app simplifies travelling by consolidating all essential information into one platform.',
    url: 'github.com/iBz-04/NOMAD',
  },
  {
    title: 'EigenV',
    description:
      'This is a power method algorithm written in C, for finding the dominant eigenvalue and the corresponding eigenvector of a given n x n matrix - an important topic in Linear Algebra.',
    url: 'github.com/iBz-04/Eigenv',
  },
]
---

<Shell title="Projects" description="Stuff I have worked on.">
  <main class="container mx-auto mt-[5rem]">
    <h1 class="mb-[2rem] text-2xl font-bold">Projects</h1>

    <p class="page-half">
      These are a curation of some projects from internships, jobs and personal endeavours.
    </p>

    <h2
      class="text-secondary mb-4 mt-[5rem] flex items-center gap-2 font-mono text-sm font-medium uppercase">
      <div role="img" class="i-lucide-hand-metal"></div> Erkam Medya
    </h2>

    <ul>
      {
        startups.map((project) => (
          <li class="">
            <ProjectItem project={project} />
          </li>
        ))
      }
    </ul>

    <h2
      class="text-secondary mb-4 mt-[5rem] flex items-center gap-2 font-mono text-sm font-medium uppercase">
      <div role="img" class="i-lucide-podcast"></div> Darkwin
    </h2>

    <div class="col-span-1 grid lg:grid-cols-4 gap-4">
      <div class="col-span-3">
        <ul>
          {
            apps.map((app) => (
              <li class="">
                <ProjectItem project={app} />
              </li>
            ))
          }
        </ul>
      </div>

      <!-- <div class="col-span-1 col-start-4 hidden lg:block">
        <RoadmanCard />
      </div> -->
    </div>

    <h2
      class="text-secondary mb-4 mt-[5rem] flex items-center gap-2 font-mono text-sm uppercase">
      <div role="img" class="i-lucide-package"></div> Personal
    </h2>
    <ul>
      {
        packages.map((project) => (
          <li>
            <ProjectItem project={project} />
          </li>
        ))
      }
    </ul>
  </main>
</Shell>
