<a
  href="https://www.offeline.site/"
  target="_blank"
  class="block rounded-lg border border-zinc-500 bg-zinc-800 leading-tight no-underline hover:bg-zinc-700"> <img alt="DotLocal" src="/local-secure.png" /> <div class="p-2 text-white">
    Run LLMs locally in your browser and desktop <div
      class="i-lucide-external-link inline-block">
    </div>
  </div>
</a>
