---
import { SITE_HOST } from '../consts'
import Link from './Link.astro'

interface Props {
  href: string
}

const { href } = Astro.props
const url = new URL(Astro.props.href)

const isGithub = url.hostname === 'github.com'
const isAppStore = url.hostname === 'apps.apple.com' || url.hostname === 'apple.com'
const isHome = url.hostname === SITE_HOST

const parts = url.pathname.split('/')
const appIndex = parts.indexOf('app')
const appName = appIndex !== -1 && appIndex + 1 < parts.length ? parts[appIndex + 1] : 'App Store'

const label = isGithub
  ? parts.pop() || url.pathname
  : isAppStore
    ? appName.split('-').map((w: string) => w.charAt(0).toUpperCase() + w.slice(1)).join(' ')
    : isHome
      ? url.pathname
      : url.toString().replace(/(^https:\/\/|\/$)/g, '')

const icon = isGithub
  ? 'i-lucide-github'
  : isAppStore
    ? 'i-lucide-apple'
    : isHome
      ? 'i-lucide-warehouse'
      : 'i-lucide-globe'
---

<Link
  className="inline-flex gap-1 rounded-full bg-zinc-200 px-1.5 font-medium text-zinc-600 no-underline transition-[background] duration-200"
  href={href}>
  <div class:list={[icon, 'mt-0.75 opacity-70']}></div>
  <spa class="flex-1 break-all">
    {label}
  </spa>
</Link>
